<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Elimina esame</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div>
		<h3>Elimina esame</h3>
		<form action="#" th:action="@{'/esame/elimina/effettiva/' + ${esame.id}}" method="post">
			<h3>Confermare per eliminare l'esame: <span th:text="${esame.nome}"></span></h3>
			<input type="submit" value"Add order">
		</form>
	</div>

</body>
</html>