<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Lista Professori</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div>
		<h3>Professori Universita</h3>
		<table>
			<thead>
				<tr>
					<th>Matricola</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Data di N.</th>
					<th>Email</th>
					<th>Residenza</th>
					<th>Modifica</th>
					<th>Elimina</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${professori}">
					<td th:text="${item.getMatricola()}"></td>
					<td th:text="${item.getNome()}"></td>
					<td th:text="${item.getCognome()}"></td>
					<td th:text="${item.stampaData()}"></td>
					<td th:text="${item.getEmail()}"></td>
					<td th:text="${item.getResidenza.getCitta().getNome()}"></td>
					<td><a th:href="@{'/professore/modifica/' + ${item.matricola}}">Modifica</a></td>
					<td><a th:href="@{'/professore/elimina/' + ${item.matricola}}">Elimina</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>