<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>indice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
	<nav>
		<a href="studente/formaggiunta">Aggiungi Studente</a>
		<a href="corso/aggiuntacorso">Aggiungi Corso</a>
		<a href="facolta/formaggiunta">Aggiungi Facolta</a>
		<a href="esame/formaggiunta">Aggiungi Esame</a>
		<a href="professore/formaggiunta">Aggiungi Professore</a>
	</nav>
	<main>
		<div>
			<a href="corso/listacorsi">Lista corsi</a>
		</div>
		<div>
			<a href="studente/listastudenti">Lista studenti</a>
		</div>
		<div>
			<a href="esame/listaesami">Lista Esami</a>
		</div>
		<div>
			<a href="professore/listaprofessori">Lista Professori</a>
		</div>
		<div>
			<a href="facolta/listafacolta">Lista Facolta</a>
		</div>
	</main>
</body>
</html>